---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---
{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've presented my work!</a></p>
{% endif %}

<h2>Talks</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Poster Presentations</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Poster Presentation" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
