{% include base_path %}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline" style="text-decoration: none;">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        <span style="text-decoration: none; cursor: default;">{{ title }}</span>
      {% endif %}
    </h3>
    {% if post.venue %}
      <p class="archive__item-excerpt"><em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</p>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt }}</p>
    {% endif %}
    {% if post.citation %}
      <p class="archive__item-excerpt" style="font-size: 0.85em; color: #666;">{{ post.citation }}</p>
    {% endif %}
    </li>
  </article>
</div>
